<div class="bookmarks-wrapper">
  <div class="container">
    <a *ngFor="let bm of bookmarks" [href]="bm.url" target="_blank">
      <app-bookmark-tile [bookmark]="bm"></app-bookmark-tile>
    </a>

    <div class="btn-div">
      <a class="btn disable-user-select" routerLink="/bookmarks/add">
        <span class="material-icons-outlined">add</span>
        <span>Add</span>
      </a>
      <a class="btn disable-user-select" routerLink="/bookmarks/manage">
        <span class="material-icons-outlined">settings</span>
        <span>Manage</span>
      </a>
    </div>
  </div>
</div>
