<div class="todo-item completed">
  <div class="checkbox">
    <span class="material-icons-outlined">check</span>
  </div>
  <div class="text">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit,
      quaerat. Non reiciendis porro delectus odio dignissimos corrupti qui,
      eveniet suscipit nobis quo tempora quam earum corporis ullam consequatur
      sint recusandae!
    </p>
  </div>
</div>
<div class="todo-item">
  <div class="checkbox">
    <span class="material-icons-outlined">check</span>
  </div>
  <div class="text">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit,
      quaerat. Non reiciendis porro delectus odio dignissimos corrupti qui,
      eveniet suscipit nobis quo tempora quam earum corporis ullam consequatur
      sint recusandae!
    </p>
  </div>
</div>
