<div [ngClass]="{ completed: todo.completed }">
  <div class="todo-item disable-user-select">
    <div class="checkbox" (click)="toggleCompleted(todo)">
      <span class="material-icons-outlined checkmark">check</span>
    </div>
    <div class="text">
      <p>
        {{ todo.text }}
      </p>
      <div class="todo-action-btns">
        <span class="material-icons-outlined">
          <a [routerLink]="['edit', todo.id]">edit</a>
        </span>
        <span class="material-icons-outlined" (click)="onDeleteTodo(todo.id)"
          >delete</span
        >
      </div>
    </div>
  </div>
</div>
