<div class="tabs">
  <a class="tab bookmark" routerLink="bookmarks" routerLinkActive="selected">
    <div class="tab-tile">
      <span class="material-icons-outlined"> bookmarks </span>
    </div>
  </a>
  <a class="tab todo" routerLink="todos" routerLinkActive="selected">
    <div class="tab-tile">
      <span class="material-icons-outlined">check</span>
    </div>
  </a>
  <a class="tab notes" routerLink="notes" routerLinkActive="selected">
    <div class="tab-tile">
      <span class="material-icons-outlined">notes</span>
    </div>
  </a>
</div>
