.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1615569082599-865be05af048?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1080&ixlib=rb-1.2.1&q=80&w=1920");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.top-section {
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 4px rgba(#000, 0.3);
  min-height: 250px;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-size: 60px;
    font-weight: bold;
  }
  h2 {
    font-size: 40px;
  }
}
.content-section {
  flex-grow: 1;
  overflow: auto;
}
.bottom-section {
  app-tabs {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
}
