.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.bg-img {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  object-fit: cover;
}
.btn-bg {
  position: absolute;
  top: 10px;
  right: 15px;
  margin: 0;
  cursor: pointer;
  background: rgba(#000, 0.1);
  color: rgba(#fff, 0.7);
  display: flex;

  &:hover {
    background: rgba(#000, 0.3);
    color: rgba(#fff, 1);
  }
}
.top-section {
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 4px rgba(#000, 0.3);
  min-height: 200px;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-size: 60px;
    font-weight: bold;
  }
  h2 {
    font-size: 40px;
  }
}
.content-section {
  flex-grow: 5;
  overflow: auto;
}
.bottom-section {
  app-tabs {
    display: flex;
    justify-content: center;
  }
}
