/* You can add global styles to this file, and also import other style files */

@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Outlined");

* {
  box-sizing: border-box;
}
html,
body {
  font-family: Inter;
  height: 100%;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}
.container {
  max-width: 850px;
  margin: 0 auto;
  padding: 0 10px;
}

.has-white-bg {
  background-color: rgba(#fff, 0.8);
  backdrop-filter: blur(20px);
}

.btn {
  color: rgba(#fff, 0.9);
  background-color: rgba(#000, 0.8);
  text-decoration: none;
  padding: 10px;
  margin-top: 7px;
  border-radius: 2px;
  text-align: center;

  &:hover {
    color: rgba(#fff, 0.9);
    background-color: rgba(#000, 0.9);
    backdrop-filter: blur(2px);
  }
  &:active {
    color: rgba(#fff, 1);
    background-color: rgba(#000, 1);
  }
}

a {
  text-decoration: none;
  outline: none;
}
